
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/coming_soon.css" asp-append-version="true">

}

<div id="text-bg">
    <div id="text">We are coming soon...</div>

</div>

@section Scripts{
    <script type="text/javascript" src="~/js/coming_soon.js" asp-append-version="true"></script>
}